:root {
    --text: #090512; /* Darker, neutral black for better readability */
    --background: #F5F3FC; /* Softer off-white to reduce strain on the eyes */
    --primary: #6840C6; /* Slightly deeper purple for a more elegant primary color */
    --secondary: #D09AE1; /* Softer secondary color to complement the primary */
    --accent: #C974D5; /* Brighter, more energetic accent to create contrast */
    --gray: #6B7D8D;
    --lightgray: #D0D5DD;
    --white: #FEFEFE;

    /* Typography */
    --headline-font: 'Kavoon', cursive;
    --poppins-font: 'Poppins', sans-serif;

    /* Typography Sizes */
    --display1: 40px;
    --display2: 40px;
    --heading1: 39px;
    --heading2: 24px;
    --heading3: 16px;
    --heading4: 14px;
    --heading5: 10px;
    --search: 20px;
    --paragraph1: 20px;
    --paragraph2: 15px;
    --paragraph3: 13px;
    --footer: 16px;
}

body {
    font-family: var(--poppins-font);
    background-color: var(--secondary);
    color: var(--text);
}

/* ... other styles ... */

.display1 {
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: var(--display1);
}

.display2 {
    font-family: var(--poppins-font);
    font-weight: 600; /* Semi-Bold */
    font-size: var(--display2);
}

.heading1 {
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: var(--heading1);
}

.heading2 {
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: var(--heading2);
}

.heading3 {
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: var(--heading3);
}

.heading4 {
    font-family: var(--poppins-font);
    font-weight: 600; /* Semi-Bold */
    font-size: var(--heading4);
}

.heading5 {
    font-family: var(--poppins-font);
    font-weight: 600; /* Semi-Bold */
    font-size: var(--heading5);
}

.search {
    font-family: var(--poppins-font);
    font-weight: bold;
    font-size: var(--search);
}

.paragraph1 {
    font-family: var(--poppins-font);
    font-weight: normal;
    font-size: var(--paragraph1);
}

.paragraph2 {
    font-family: var(--poppins-font);
    font-weight: normal;
    font-size: var(--paragraph2);
}

.paragraph3 {
    font-family: var(--poppins-font);
    font-weight: normal;
    font-size: var(--paragraph3);
}

.footer {
    font-family: var(--poppins-font);
    font-weight: 600; /* Semi-Bold */
    font-size: var(--footer);
}

.input-field {
    @apply w-full px-16 py-6 border border-gray focus:outline-none focus:border-primary rounded-[50px] bg-white;
}

.input-field::placeholder { 
    color: var(--gray);
    /* Use your custom primary color */
}
.search-button {
  @apply bg-primary text-white p-3 rounded-[30px] hover:bg-primary w-2/3;
}


.search-button::placeholder {
    color: var(--gray);
    /* Use your custom primary color */
}

.event-detail-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.breadcrumb a {
  color: #8a2be2;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}


.restrictedFeature {
  /* ... other styles for the feature ... */
  position: relative;
}

.restrictedFeature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7; /* Adjust opacity as needed */
  z-index: 1; 
}

.overlayForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width as needed */
  height: 80%; /* Adjust height as needed */
  background-color: white;
  z-index: 2;
}


.tests {
    position: relative;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  /* background-color: black; */
  z-index: 1; 
}

.testss {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 50%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  /* background-color: white; */
  z-index: 2;
}